html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #6e6e73;
  font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.none {
  display: none;
}

.wrapper {
  min-height: 100vh;
  width: 83.3%;
  margin: 0 auto;
  max-width: 1220px;
  padding-top: 30px;
}
.basicButton {
  width: 100px;
  min-height: 40px;
  color: #6e6e73;
  border: none;
  border-top: 3px solid #ee4e69;
  background-color: #f6f6f6;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-weight: 600;
}

.basicInput {
  border: none;
  border-radius: 5px;
  min-height: 40px;
  padding-left: 15px;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
}

/* MAIN page start */

.datePickerWrapper {
  max-height: 305px;
  margin-right: 20px;
  background-color: #ef5350;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
}

.dayContainer {
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
}

.main-page .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.basicButton:hover {
  background-color: #ee4e69;
  color: #fff;
}

.main-info__new-order--link {
  margin: 0 auto;
}

.main-info__new-order--btn {
  width: 300px;
  height: 60px;
}

.link {
  display: block;
  text-decoration: none;
}

.order-wrapper {
  width: 100%;
  outline: 1px solid red;
}

/* MAIN page end */

/* newOrder start*/

.newOrder .wrapper {
  display: flex;
  width: 90%;
}

.consumer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.consumer-form input {
  width: 300px;
  margin-bottom: 20px;
}

.menu-list__wrapper {
  width: 85%;
  margin-right: 15px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-list__element {
  width: 24%;
  margin-bottom: 30px;
}

.menu-list__element-name {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.menu-list__img {
  width: 100%;
  height: auto;
  min-height: 153px;
  margin-bottom: 15px;
}

.menu-list__saveBtn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.counterBnt {
  max-width: 50px;
  height: 50px;
  border: 3px solid #ee4e69;
  border-radius: 50%;
  box-shadow: none;
}

.counter {
  display: flex;
  justify-content: center;
}

.counter input {
  width: 50px;
  font-size: 18px;
  padding: 0;
  text-align: center;
  box-shadow: none;
}

/* notification */

.notification-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 7px;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
}

.notification-text {
  color: #6e6e73;
  font-weight: 600;
  margin-bottom: 40px;
}

.notification-btn__container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.notification-btn__container button {
  border: 2px solid #6e6e73;
  border-radius: 5px;
  box-shadow: none;
}

/* ORDER LIST */

.orderList {
  width: 15%;
  padding: 5px 5px 0 10px;
}

.orderList h2 {
  text-align: center;
}

.orderList__order-info {
  margin-bottom: 20px;
}

.orderList__order-info p {
  margin-bottom: 5px;
  font-weight: 600;
}

.order-info__time,
.order-info__name {
  text-align: center;
}

.orderListElement {
  margin-bottom: 7px;
}

.orderListElement__name {
  display: inline-block;
  width: 55%;
}
