.table {
  width: 70%;
  max-width: 1060px;
}

.headerWrapper,
.main {
  display: block;
  border-top: 3px solid #ee4e69;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.35);
}

.headerWrapper {
  margin-bottom: 20px;
}

.main {
  padding-top: 1px;
  min-height: 240px;
  max-height: 240px;
  background-color: #f6f6f6;
  overflow: auto;
  margin-bottom: 50px;
}

.headElement,
.mainElement {
  width: 7.75%;
  display: block;
  padding: 2px 0;
  min-height: 40px;
  max-height: 57px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-left: 2px solid #bfbfbf;
}

.mainElement {
  min-height: 57px;
  font-size: 20px;
}

.mainRow,
.headRow {
  color: #6e6e73;
  width: 100%;
  display: flex;
  text-decoration: none;
}

.mainRow {
  border-bottom: 2px solid #bfbfbf;
  cursor: pointer;
}

.mainRow:hover {
  background-color: #ee4e69;
  color: #fff;
}

.headElement:first-child,
.mainElement:first-child {
  border-left: none;
}

.headElement:nth-child(3),
.mainElement:nth-child(3) {
  width: 50%;
  line-height: 35px;
}

.mainElement:nth-child(3) {
  text-align: left;
  padding-left: 20px;
}

.headElement:last-child,
.mainElement:last-child {
  flex-grow: 1;
  line-height: 35px;
}

.headElement:nth-child(2) {
  line-height: 35px;
}
